/local_shares/
!/local_shares/db/README.md
!/local_shares/keys/README.md
!/local_shares/blob/CWL/README.md
!/local_shares/blob/Taxonomy/README.md
!/local_shares/token_keys/README.md
!/local_shares/jvm-11.options

*.log
*.logs
/local_archive